@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-clicker: "Clicker Script", cursive;
  --font-playfair: "Playfair Display", serif;
  --color-main-gold: #f9c06a;
  --color-coffee: #603809;
  --color-secondary: #707070;
  --color-sokari: #fff9f1;
}

@utility container {
  margin: auto;

  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
  }
  max-width: 96rem /* 1536px */;
}

*::selection{
  background-color: var(--color-main-gold);
  color: var(--color-coffee);
}

:root{
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}